* {
  padding: 0;
  margin: 0;
}

Form {
  display: flex;
  flex-direction: column;
  background-color: rgb(183, 228, 166);
  width: 20rem;
  border-radius: 0rem 5rem 0rem 5rem;
  margin: 2%;
  padding: 2%;
  justify-content: center;
  box-shadow: 5px 5px 20px;
  margin: auto;
  margin-top: 1rem;
}
.entorno{
  padding-bottom: 2rem;
}

.button{
  margin: auto;
}
/*------------NavBar---------------*/
.ClasNav {
  background-color: rgb(183, 228, 166);
  flex-direction: column;
  justify-content: center;
  border-radius: 0rem 0.8rem 0rem 0.8rem;
}
.Nav{
  padding-left: 1rem;
  padding-top: 1rem;
  
}
